body{
    background-color:lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    color: darkblue; 
}

h2{
    text-align: center;
    color: rgb(0, 90, 180);
}

p{
    text-align: center;
    color: dodgerblue;
}